#navbar-sub{
    color:white; 
    margin-top:10px; 
    margin-left:120px;
}

#navbar-sub a{
    color:white;
}

#navbar-sub i{
    margin-left:10px; 
    margin-right:10px;
}

#search-div{
    width: 30%; 
    padding-left:80px;
    padding-top:13px;
}